<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coder.dream.user.mapper.UserMapper">

    <insert
            id="insert"
            parameterType="com.coder.dream.user.model.User">
            insert into t_user (
              id,
              name,
              comments,
              create_time,
              update_time
            ) values (
              #{id},
              #{name},
              #{comments},
              #{createTime},
              #{updateTime}
            )
    </insert>

    <sql id="selectColumns">
        id,
        name,
        comments,
        create_time as createTime,
        update_time as updateTime
    </sql>
    <select id="list" parameterType="com.coder.dream.base.dao.query.Query" resultType="com.coder.dream.user.model.User">
        select <include refid="selectColumns"/> from ${table}
        <where>
            <foreach collection="filters" index="filter" item="value">
                ${filter.calculation} ${filter.column} ${filter.operator} #{value}
            </foreach>
        </where>
    </select>

    <!--<update
                id="update"
                parameterType="User">
        </update>-->
</mapper>